body {
    background-color: #ccccff;
}
.title {
    width: 100%
    max-width: 800px;
    text-align: center;
    font-size: 2em;
}


#clearLC {
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    z-index:1440;
    width: 80px;
    height: 60px;
    background-color:  red;
}

#container {
    width: 600px;
    border: 2px solid #0088cc;
    margin: 15px auto;
    background: #b3b3ff;

}
#searchIcon {
    width: 30px;
    height: 30px;
}
#chatDisp {
    height: 500px;
    width: 700px;
    margin-left: 150px;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

#input {
    width: 100%;
    height: 62px;
    position: relative;
    margin: 5px 0;
}
#input p {
    position: absolute;
    z-index: 3;
    background-color: rgba(228, 219, 188, 0.70);
    padding: 5px;
    top: -55px;
    left: 15px;
    visibility: hidden;
}

#input label {
    /*background-color: #e1d8b9;*/
    display: block;
    z-index: 2;
    padding: 10px;
    font-size: 1.5em;
    left: 500px;
    /*border: 2px solid #0088cc;*/
    cursor: pointer;
}
input[type='text']{
    display: block;
    width: 360px;
    padding: 10px;
    margin-top: 4px;
    margin-left: 7px;
    font-size: 1.5em;
    margin-bottom: 5px;

    z-index: 1;
    left: 8px;
    border: 2px solid #0088cc;
    outline-width: 5px;
    outline-color: rgba(117, 147, 62, 0.83);
    background-color: rgba(228, 219, 188, 0.80);
}

.message{
    width: 100%;
    margin-top: 10px;
    background-color: #a7c3ef;
    padding: 10px;
    height: 90px;
    color: #ebd4a8;
}



.avatar {
    width: 15%;
    height: 85px;
    border: 2px solid #ebd4a8;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #ffffff;
}
.divider {
    margin-bottom: 20px;
}
.nameDiv {
    font-size: 23px;
    color: #353a44;
    font-weight: bold;
}
.statusDiv {
    font-style: italic;
    color: #a3a8a8;
    font-size: 18px;
    margin-top: 10px;
    height: 35px;
}
.text {
    float: right;
    width: 80%;
    padding: 10px;
    margin: 0;
    text-align: justify;
    height: 55px;
    overflow: hidden;
    font-size: 20px;
    color: #2f3238;
}
#messageInput {
    margin-left: 150px;
    width: 520px;
    height: 35px;

}
#refreshMessage {
    width: 40px;
}

#clearIcon {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    padding-right: 10px;
}
#sendIcon {
    width: 40px;
    padding-right: 50px;
    height: 40px;

}
#friendDisp {
    height: 550px;
    width: 463px;
    margin: 0 auto;
    margin-top: 60px;
    margin-left: 210px;
    background-color: rgba(255, 255, 255, 0.51);
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
}
.datetime {
    float: right;
    margin: 0;
    margin-right: 15px;
    padding: 5px;
    visibility: visible;
    background-color: #ffffff;
    font-size: .8em;
}
.top {
    background-color: #a7c3ef;
    margin-left: 220px;
    margin-right: 270px;
}
.text:hover {
    height: auto;
    min-height: 55px;
}
.text:hover , .avatar:hover {

}

.entireDiv {
}
.clear {
    clear: both;
}
#spanID {
    margin-left: 10px;
    font-size: 20px;
    font-family: cursive;
}
#searchButton {
    margin-top: 55px;
    margin-left: 13px;
    border-width:medium;
    width: 50px;
    height: 30px;
}

#searchInput {
    margin-bottom: 1px;
    width: 380px;
    height: 30px;
    margin-top: 50px;
    margin-left: 220px;
}


.friendList {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    color: #ebd4a8;
}


.name  {
    background-color: rgba(0, 180, 0, 0.50);
    padding-left: 10px;
    color: red;
    margin: 0 auto;
}
.sms {
    font-size: 30px;
    margin-bottom: 20px;
}
#typing {
    margin-left: 135px;
}
#add {
    width:90px;
    height: 40px;
    padding-top: 20px;
    background-color:  #ccd9ff;
    font-size: 30px;
    text-align: center;
    z-index:1440;
    margin: 0 auto;
}
#addUser {
    width:90px;
    height: 40px;
    padding-top: 20px;
    background-color:  #ccd9ff;
    font-size: 30px;
    text-align: center;
    z-index:1440;
    margin: 0 auto;
}

#clearAdd {
    width:90px;
    height: 40px;
    padding-top: 20px;
    background-color:  #ccd9ff;
    font-size: 30px;
    text-align: center;
    z-index:1440;
    margin: 0 auto;
}

#totalMessages {
    width:290px;
    height: 40px;
    padding-top: 20px;
    background-color:  #ccd9ff;
    font-size: 30px;
    text-align: center;
    z-index:1440;
    margin: 0 auto;
}
#userName {
    font-size: 36px;
}
#statistics {
    width:290px;
    height: 40px;
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    z-index:1440;
    margin-left:190px;
    background-color: #a7c3ef;
}
#statisticsTwo {
    width:290px;
    background-color: #a7c3ef;
    height: 40px;
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    z-index:1440;
    margin: 0 auto;
}
/*#statistics {
    z-index:1920;
    background-color: #ccd9ff;
    width:550px;
    height: 90px;
}*/

#addStatus {

    margin-left:  13px;
    width: 160px;
    height: 50px;
    ont-size: 30px;
    background-color:  #ccd9ff;
    z-index:125;
}

.friendList:hover {
    background-color: #a7c3ef;
}

.asd {
    width: 400px;
    height: 500px;
    background-color: #ccd9ff;
    display: inline-block;
}
.bkb {
    width: 500px;
    height: 400px;

    float: right;
    margin-right: 800px;
}


.friend{
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgba(0, 180, 0, 0.50);
    padding: 10px;
    color: #ebd4a8;
}
