<html>
  <head>
    <link rel="stylesheet" href="app.css">
    <script src="vendor/jquery.js"></script>
    <script src="vendor/json2.js"></script>
    <script src="vendor/underscore.js"></script>
    <script src="vendor/backbone.js"></script>
    <script src="vendor/backbone.radio.js"></script>
    <script src="vendor/backbone.marionette.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="link-area"></div>

      <div class="messages-container"></div>

      <div class="test-container"></div>

      <div class="sender">
        <input type="text">
        <button class="submit">send</button>
      </div>


      <div id="input">
        <label id = "refreshMessage">Refresh</label>
      </div>


    </div>

    <div class="templates">
      <script type="x-template/underscore" id="message-view">
        <div>
          <%= message %> <span class='remove'>x</span>
        </div>
      </script>

      <script type="x-template/underscore" id="dialog">
        <div class="messages"></div>
        <div>
          <input type="text"/>
          <button class="submit">send</button>
        </div>
      </script>



      <script type="x-template/underscore" id="message">
        <div>
          <span><%= message %></span>
          <button>remove</button>
        </div>
      </script>
    </div>

  </body>
</html>
